
.py-3
  .container
    .row
      .col-md-12
        .row
          h5 Media voto dell'utente: #{media} (su #{numero} recensioni):
          |
          if (recensioni.length===0)
            h5 Nessuna recensione per questo utente! ...aggiungila tu per primo!
          else
            each rev in recensioni
              if(rev.text!="")
                .py-1
                  .container
                    .row
                      .card
                        .card-header 
                          h5 Recensione di: #{rev.reviewer}
                        |                     
                        .card-body
                          h6 Voto: #{rev.vote}
                          |                         
                          h6 Commento: #{rev.text}
